@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap');

:root {
    --main-color: #41434E;
    --font-color: #FFFEFE;
    --black-color: #0F121F;
    --blue-color: #5C4AB0;
    --blue-color2: #4A73B0;
    --green-color: #61D1BB;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4)
}

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.2s ease;

}

/*base html codes*/

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow: auto;
}

html::-webkit-scrollbar {
    width: 1.2rem;
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--black-color);
}

body {
    background-color: #0d1117;
}


/*base html codes end*/


/*home start*/

.home .download{
    background-color: #8EA7E9;
    padding: 1rem;
    border-radius: 4rem;
    display: inline-block;
    width: 75%;
}

.home .download:hover{
    background-color: #f06529;
}

.home .homepage a{
    text-decoration: none;
    color: white;
}

.home .homepage{
    text-align: center;
}

.home .pp {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: flex;
    /* position: fixed; */
    filter: grayscale(100%);
}

.home .pp:hover {
    filter: grayscale(0%);
}


.home h1 {
    font-family: 'Comfortaa', cursive;

}

.home span {
    /* color: #8EA7E9; */
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;

}

.home {
    align-items: center;
    height: 100vh;
    display: none;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    color: white;

}


.home p i {

    align-items: center;
    justify-content: space-between;
}

.home .job {
    color: #8EA7E9;
}

.home .down {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

/*home end*/

/*side start*/

.side {
    right: 1%;
}


.side .icons {
    right: 2%;
    top: 33%;
    /* border: 1px solid white; */
    position: fixed;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.side .icons a {
    color: white;

}

/* twitter */
.side .icons a:hover {
    color: #f06529;
}

.side .dot {
    position: fixed;
    top: 5%;
    right: 3%;
    display: flex;
/*     cursor: pointer; */
}


.side .dot div {
    font-size: 1.2rem;
    width: 55rem;
    color: #8EA7E9;
    right: 6rem;
    text-align: right;
}


/*side end*/

/*header start*/

.header .navbar {
    position: fixed;
    top: 33%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header .navbar a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    text-transform: lowercase;
}

.header .navbar i:hover {
    /* background-color: white; */
    /* padding: 0.3rem; */
    box-sizing: border-box;
    border-radius: 30rem;
    transform: rotate(-380deg);
    color: #FFBF00;
    transition: 0.3s ease;
}

.header .navbar i.active {
    color: #FFBF00;
    transform: rotate(0deg);

}

.navbar a div {
    display: inline;
    padding: 0.2rem 1.5rem;
    box-sizing: border-box;
    display: none;
    font-size: 1.7rem;
    background-color: #FFBF00;
    box-shadow: 0px 0px 17px -2px rgb(143, 143, 143);
    color: var(--black-color);
    border-radius: 2rem;
    align-items: center;
    margin: 0 1rem;
    /* position: fixed; */
    /* left: 2.7%; */
    /* z-index: -1000; */
}

.navbar a:hover div {
    display: inline;
}


/*header end*/



/*about start*/

.metin {
    /* border: 1px solid red; */
}

.home .about .metin {
    justify-content: center;
    /* display: flex; */
    /* box-sizing: border-box; */
    text-align: center;
    line-height: 2rem;
}

/*about end*/

/*certificates start*/


.home .certificates {
    width: 50%;
    text-align: center;
}

.home .certificates h1,
p {
    font-size: 90%;
}

.home .certificates h1 {
    font-weight: bolder;
    padding: 1rem;
}


/*certificates end*/

/*projects start*/


.projects {
    max-height: 100%;
    width: 75%;
    /* margin-top: 10rem; */
    display: grid;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.projects .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 1rem; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.cards h1 {
    border-radius: 3rem 3rem 0 0;
    background-color: #8EA7E9;
    color: #41434E;
    position: relative;
    top: 0rem;
    font-size: 100%;
    padding: 2rem;
    margin: 0;
}

.projects .cards a{
    margin: 1rem;
}

.cards a {
    text-decoration: none;
    color: black;
    margin: 0rem;
    grid-template-columns: 1fr 2fr 1fr;
}

.cards ul{
    padding: 1rem;
}

.cards ul li{
    list-style-type: none;
}

.cards p {
    padding: 2rem;
}

.cards i{
    padding: 0 1rem 0 0;
}

.certificates .cards div{
    width: 75%;
}

.cards div {
    align-items: center;
    background-color: #FFFFE8;
    border-radius: 3rem;
    padding: 0rem;
    opacity: 0.8;
    color: #41434E;
    width: 100%;
    margin: 1rem;
}

.cards div:hover {
    opacity: 1;
}

.certificates .cards a{
    margin: 0rem;
}

.certificates .cards a:hover{
    color: #6f7ea8;
    font-weight: bolder;
}
/*projects end*/

/*skills start*/

.skills {
    text-align: center;
    cursor: pointer;
}

.skills .cards i {
    font-size: 1rem;
    padding: 0 1rem;
}

.skills i {
    font-size: 5rem;
    padding: 1rem;
}

.skills .html:hover {
    color: #f06529;
}

.skills .css:hover {
    color: #2965f1;
}

.skills .js:hover {
    color: #F0DB4F;
}

.skills .python:hover {
    color: #4B8BBE;
}

.text span {
    color: #8EA7E9;
}

.skills p {
    font-style: italic;
}
.skills .cards div{
    width: 50%;
    justify-content: center;
}

.skills .cards i{
    font-size: 2rem;
}

.cards .fa-terminal{
    position: absolute;
    top: 20%;
    right: 1%;
}

/*skills end*/

/*contact start*/

.home .contact a {
    text-decoration: none;
    color: white;
}

/*contact end*/


/*responsive start*/

@media (max-width: 758px){
    html{
        font-size: 55%;
    }

    .projects .cards {
        grid-template-columns: 1fr;
        margin-top: 3rem;
        
    }

    .home .certificates {
        width: 75%;
    }

    .skills .cards div{
        width: 75%;
    }

    .about{
        width: 60%;
        text-align: center;
        justify-content: center;

    }
}
