@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --main-color : #41434E;
    --font-color : #FFFEFE;
    --black-color : #0F121F;
    --blue-color : #5C4AB0;
    --blue-color2 : #4A73B0;
    --green-color : #61D1BB;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4)
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.1s ease;

}

/*base html codes*/

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow: auto;
}

html::-webkit-scrollbar{
    width: 1.2rem;
    background-color:white;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color:#0b0c0c;
    /* height: 200vh; */
}


/*base html codes end*/


/*home start*/

.home h1{
    font-weight: lighter;
}

.home span{
    /* color: #8EA7E9; */
    font-weight: bolder;
}

.home{
    align-items: center;
    height: 100vh;
    display: none;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    color: white;
    
    
}

.home p i{
    align-items: center;
    justify-content: space-between;
}

.home .job{
    color: #8EA7E9;
}

.home .down{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.home .icons{
    right: 2%;
    top: 33%;
    /* border: 1px solid white; */
    position: fixed;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.home .icons a{
    color: white;

}

.home .icons a:hover{
    color: #8EA7E9;
}

/*home end*/

/*side start*/

.sideh1{
    display: flex;
    /* flex-direction: row; */

    color: white;
    /* font-weight: lighter; */
    font-size: 1.5rem;
    position: fixed;
    top: 75%;
    right: 2%;
    transform: rotate(270deg);
}

.sideh1 .cizgi{
    /* margin: 1rem; */
    width: 5rem;
    height: 0.3rem;
    background-color: white;


}

/*side end*/

/*header start*/

.header .navbar{
    position: fixed;
    top: 33%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header .navbar a{
    font-size: 2rem;
   text-decoration: none;
   color: white;
   text-transform: lowercase;
}

.header .navbar i:hover{
    /* background-color: white; */
    /* padding: 0.3rem; */
    box-sizing: border-box;
    border-radius: 30rem;
    transform: rotate(-15deg);
    color:#8EA7E9;
}

.navbar a div{
    display: inline;
    padding: 0.2rem 1.5rem;
    box-sizing: border-box;
    display: none;
    font-size: 1.5rem;
    background-color: #8EA7E9;
    color: #0b0c0c;
    border-radius: 2rem;
    align-items: center;
    margin: 0 1rem;
    /* position: fixed; */
    /* left: 2.7%; */
    /* z-index: -1000; */
}

.navbar a:hover div{
    display: inline;
}


/*header end*/

/*dot start*/

.dot{
    background-color: #8EA7E9;
    position: fixed;
    top: 5%;
    right: 3%;
    display: flex;
    width: 1rem;
    height: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

/*dot end*/

/*about start*/

.home .about h1{
    background-color: #4A73B0;
    font-weight: bolder;
    border-radius: 3rem;
    /* width: fit-content; */
}

.home .about{
    text-align: center;
    width: 50%;
} 

/*about end*/

/*certificates start*/

.home .certificates{
    text-align: center;
    width: 50%;
} 

.home .certificates h1{
    background-color: #4A73B0;
    font-size: 95%;
    font-weight: bolder;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 3rem;
    margin: 1rem
}

.home .certificates p{
    margin: 1rem;
}

/*certificates end*/

/*projects start*/

.home .projects{
    width: 50%;
    text-align: center;
} 

.home .projects h1, p{
    font-size: 90%;
}

.home .projects h1{
    font-weight: bolder;
    padding: 1rem;
    color: #8EA7E9;
}


/*projects end*/

/*skills start*/

.home .skills{
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
}

.home .skills i:nth-child(1):hover{
    color: #f06529;
}

.home .skills i:nth-child(2):hover{
    color: #2965f1;
}

.home .skills i:nth-child(3):hover{
    color: #F0DB4F;
}

.home .skills i:nth-child(4):hover{
    color: #4B8BBE;
}


.home .text span{
    color: #8EA7E9;
}

.home .skills p{
    margin-top: 2rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-style: italic;
}

/*skills end*/

/*contact start*/

.home .contact a{
    text-decoration: none;
    color: white;
}

/*contact end*/
