@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap');


:root {
    --dark-mode-color: #212134;
    --blue: #503e9d;

}

html {

    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow: auto;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #212134;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    /* background-color: var(); */
}

* {
    font-family: 'Comfortaa', cursive;
    outline: none;
    border: none;
    transition: 0.2s ease;
    /* overflow: hidden; */

}

.navbar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.navbar ul {
    /* padding: 0; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}


.navbar ul li {
    color: #818080;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    /* padding: 0.5rem 2rem; */
    border-radius: 1rem;
    cursor: pointer;
    background-color: transparent;
}


.navbar span {
    margin: 0 0.2rem;
    background-color: #282828;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
}

li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    transition: width 0.3s ease-in-out;
    /* geçiş efekti için transition kullan */
}

li.checked::after {
    width: 100%;
    /* checked durumunda alt çizgi genişliğini %100 olarak ayarla */
}

li:hover::after {
    width: 100%;
}

.navbar ul li.checked {
    color: #171717;
    text-underline-position: above;
    font-weight: bold;
}

/* İÇERİK */

.menu {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 15rem;
    margin: 1rem;
    cursor: pointer;
}

.selected {
    background-color: #fff;
    width: 20rem;
    height: 25%;
    position: fixed;
    margin-top: 5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;

}

.selected img {
    width: 100%;
    height: 100%;
}

.selected .metin {
    background-color: #fff;
}

.card:hover {
    box-shadow: 0px 0px 17px -2px rgb(43, 43, 43);
}

.card div {
    gap: 0;
}

.card .gorsel {
    height: 180px;
}

.card .gorsel img {
    background-color: #fff;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    /* max-width: 100%; */
    /* height: auto; */
    margin-bottom: 10px;
}

.card .urunAd,
.card .urunDetay {
    padding: 0 1rem;
    /* text-align: left; */
}

.card .urunAd {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .urunDetay {
    color: #666565;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 10px;
}

.card .fiyat {
    padding: 0;
}

.card .urunAd {
    font-weight: bold;
}

.card .br {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    background: rgb(255, 51, 0);
    background: linear-gradient(45deg, #F5515F 35%, #A1051D 100%);
    color: rgb(255, 255, 255);
    padding: 0.8rem 0.4rem;
    cursor: pointer;
    border-radius: 0 0 2rem 2rem;
}

.card .br:hover {
    background: black;
}

.card .br:hover::after {
    content: ' SEPETE EKLE!';
    font-size: small;
}

.card .br span {
    font-weight: bolder;
}

/* CART */

.cart {
    /* display: none; */
    width: 25rem;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(58, 58, 175);
    right: -150rem;
    top: 3rem;
    z-index: 1000;
    align-items: center;
    border-radius: 2rem;
    padding: 0;
    transition: 0.2s ease-in;
}

.cart h4 {
    padding: 0 2rem;
}

.cart.open{
    right: 2rem;
    /* display: block; */
}

.fa-cart-shopping{
    cursor: pointer;
}

.cart-metin {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    font-size: 1rem;
    align-items: center;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 0.5rem;
    cursor: pointer;
}

.cart-urunAd{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.cart-adet{
    font-weight: lighter;
}

.cart-metin:hover{
    background-color: #ffe8c6;
}

.cart .cart-metin img {
    width: 7rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}



.cart .cart-toplam {
    height: 2rem;
    width: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    padding: 1rem;
    border-radius: 3rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.cart-toplam .toplamFiyat {
    background-color: rgb(255, 107, 54);
    padding: 0.75rem;
    border-radius: 2rem;
    margin: 0 0 0 0rem;
    color: #000;
}

.cart-toplam i {
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    
}

.cart span{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.cart-toplam .toplamUrun{
    padding: 0 2rem;
}

.cart .fa-xmark{
    position: absolute;
    right: 0;
    top: 0;
}

.fa-minus, 
.fa-plus {
    z-index: 1000;
    border-radius: 2rem;
    padding: 0.3rem;
    margin: 0 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fa-minus:hover, 
.fa-plus:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.87);
}

.footer{
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    position: relative;

}


/* RESPONSIVE */

@media (max-width:758px) {
    .navbar {
        width: 100%;
        padding: 0 0.5rem;
        font-size: 45%;
        overflow-x: scroll;
    }

    .card {
        /* width: 25%; */
        margin: 1rem;
    }

    .navbar ul li {
        padding: 0;
    }

    .navbar ul {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        align-items: center;
    }

}